@model IEnumerable<PassionProject_Nith.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists Index</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <span class="me-2">Sort by:</span>
        <a asp-action="Index" asp-route-sortOrder="name" class="btn btn-link">Name</a>
    </div>

    <div>
        <a asp-action="Create" class="btn btn-primary">Add Artist</a>
    </div>
</div>



<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Artist Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@artist.ArtistId">@artist.ArtistName</a>
                </td>
                <td>@artist.ArtistBio</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@artist.ArtistId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@artist.ArtistId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>